* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* * {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
} */

html{
    background: url(img/WhatsApp\ Image\ 2023-10-26\ at\ 11.17.33\ PM.jpeg);
}

/* *::-webkit-scrollbar-track{
    background: red;
}
*::-webkit-scrollbar-thumb{
    border-radius: 35px;
} */
*::-webkit-scrollbar{
    width: 10px;
    overflow-x: hidden;
}
*::-webkit-scrollbar-track{
    border-radius: 10px;
    background: linear-gradient(#ffbf64,#fffefd,#70e445);
}
*::-webkit-scrollbar-thumb{
    background-color: lightblue;
    border-radius: 20px;
    border: 2px solid black;
}
*::-webkit-scrollbar-thumb:hover{
    box-shadow: 0px 5px 10px 0px yellowgreen;
}

.search-box {
    width: 400px;
    background: linear-gradient(#ffbf64, #ffbf64 , #70e445);
    position: absolute;
    border-radius: 20px;
    /* text-align: center; */
    margin-top: 200px;
}

.search-box #search-button{
   font-size: 30px;
}

.row {
    display: flex;
    align-items: center;
    padding: 4px 10px;
}
.row img{
    width: 50px;
    height: 50px;
    transform: translateX(-130px);
}

input {
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}

button {
    background: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
}

::placeholder {
    color: #333;
}

.result-box{
    max-height: 200px;
    overflow-y: scroll;
}
/* .result-box::-webkit-scrollbar-track-piece{
    background: red;
} */
.result-box ul {
    border-top: 1px solid #999;
    padding: 1px 10px;
}

.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 10px 10px;
    cursor: pointer;
}

.result-box ul li:hover {
    background-color: #d7e9ff;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    /* background-color: aqua; */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.01px 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header::after {
    content: "";
    top: 0%;
    left: -100%;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(218, 30, 30, 0.1);  */
    background: linear-gradient(90deg, transparent, rgb(8, 126, 126), transparent);
    transition: 5s;
}

.header:hover:after {
    left: 100%;
}

.header::before {
    content: "";
    top: 0%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(219, 141, 23, 0.623);
    backdrop-filter: blur(50px);
    z-index: -1;
}

#check {
    display: none;
}

.logo img{
    height: 120px;
    width: 120px;
}

.navbar a {
    font-size: 1.15rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-right: 5rem;
    text-align: center;
}

.navbar button{
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-right: 5rem;
    text-align: center;
    font-size: 1.15rem;
    margin-top: 1px;
}
.navbar a:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
}
.navbar button:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
}

.icon {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

@media (max-width:900px) {
    .header {
        padding: 1.3rem 5%;
    }

    @media (max-width:900px) {
        .icon {
            display: inline-flex;
        }

        #check:checked~.icon #menu-icon {
            display: none;
        }

        .icon #close-icon {
            display: none;
        }

        #check:checked~.icon #close-icon {
            display: block;
        }

    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        height: 0;
        background: transparent;
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(153, 211, 187, 0.1);
        transition: 12 ease;
        overflow: hidden;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
    }
    .navbar button{
        color: black;
        text-decoration: none;
        font-weight: 500;
        margin-right: 5rem;
        text-align: center;
        font-size: 1.15rem;
        margin-top: 1px;
    }
   
}

/* image and text of header */
/* 
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;

}

#home h1 {
    color: black;
    text-align: center;
    font-style: italic;

}

#home p {
    color: white;
    font-size: 1.3rem;
} */

/* #home::before {
    content: "";
    background: url(img/cathedral-8318952_1920.jpg);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80%;
    width: 100%;
    z-index: -1;
    opacity: 2;
} */
video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center; */
}
  .video-wrapper {
    margin-top: 30px;
    border: 2px solid #000;
    width: 1550;
    height: 550px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header{
    position: fixed;
    /* color: white; */
    text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
  }
/* explore region box */

@media screen and (max-width: 1024px){
    .res{
        flex-direction: column;
    }
    .box2{
        margin-top: 20px;
    }
    .box3{
        margin-top: 20px;
    }
}
.res{
    display: flex;
}
#services {
    margin: 50px;
    margin-left: 5px;
    margin-top: 50px;
    /* display: flex; */
}

#services a {
    text-decoration: none;
    color: black;
}

/* #services .box i {
    padding: 10px;
    text-align: right;
    margin-top: 10px;
} */

#services .box {
    border: 2px solid rgba(16, 129, 82, 0.1);
    padding: 50px;
    display: block;
    right: 20px;
    margin-right: 130px;
    border-radius: 30px;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.box h2 {
    font-size: 30px;
    padding: 40px;
    text-align: end;
    margin-top: 30px;
    /* margin: 10px; */

    color: aliceblue;
}

.box1 {
    background-image: url(img/india-3544450_1920.jpg);
}

.box2 {
    background-image: url(img/rajasthan-3122949_640.jpg);
    margin-left: 30px;
}

.box3 {
    background-image: url(img/goa.jpg);
    margin-left: 55px;
}

/* #services .box img {
    height: 170px;
    display: block;
} */

#services.box {
    box-shadow: 0px 5px 10px 0px orange;
}

#services .box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px orange;
}

.services-conainer {
    margin: 40px;
}

/* utility class */
.h-primary {
    font-size: 2.2rem;
    padding: 30px;
}

/* .h-secondary {
    font-size: 2.8rem;
    padding: 12px;
} */

.center {
    text-align: center;
}


/*  grid boxes */
@media screen and (max-width: 1024px){
    .res2{
        flex-direction: column;
        padding: auto;
    }
}

.a .h {
    text-align: left;
    /* margin: 10px; */
    color: yellowgreen;
    font-style: italic;
}

.res2{
    display: flex;
}
#aa {
    margin: 40px;
    margin-left: 0px;
    margin-top: 50px;
    /* display: flex; */
}

#aa .boxa {
    border: 2px solid rgba(59, 17, 175, 0.1);
    border-radius: 20px;
    padding: 30px;
    display: block;
    right: 40px;
    margin-right: 70px;

}

#aa a {
    text-decoration: none;
    color: black;
}

#aa .boxa i {
    padding: 3px;
}

#aa .boxa img {
    height: 130px;
    width: 250px;
    display: block;
}

#aa .boxa h3 {
    padding: 15px;
    text-align: right;
}

.a {
    margin: 20px;
}

#aa .boxa {
    box-shadow: 0px 5px 10px 0px orange;
}

#aa .boxa:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px orange;
}

 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*,
*::after,
*::before{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    font-family: 'Montserrat', sans-serif;
    /* font-size: 62.5%; */
}
/* 
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    background: linear-gradient(to right, #616161, #9bc5c3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */
.wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    background:transparent ;
    gap: 40px;
    margin-top: 20px;
}

.wrapper .icons{
   text-align: center;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: column;
   position: relative;
   z-index: 2;
   transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   object-position: center;
   backdrop-filter: blur(5px);
}

.wrapper .icons span{
   display: block;
   height: 60px;
   width: 60px;
   background: transparent;
   border-radius: 50%;
   position: relative;
   z-index: 2;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
   transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   color: #000;
}

.wrapper .icons span i{
   line-height: 60px;
   font-size: 26px;
}

.wrapper .icons .tooltip {
    position: absolute;
    top: 0;
    z-index: 1;
    background: #ffffff;
    color: #ffffff;
    padding: 6px 14px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icons:hover .tooltip{
    top: -60px;
    opacity: 1;
    pointer-events: auto;
}


.wrapper .icons:hover span{
    color: #ffffff;
}

.wrapper .icons:hover span,
.wrapper .icons:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip{
    background: #3b5999;

}

.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip{
    background: #e1306c;
}

.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip{
    background: #46c1f6;
}

.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip{
    background: #CD201F;
}


